<div class="scrollable" ng-controller="PlayerController">
    <div class="scrollable-content section">
        <div ng-hide="user" class="text-center">
            <a href="#overlay-login" toggle="on" class="btn btn-standard"><i class="fa fa-sign-in"></i> Sign in / Register</a>
        </div>
        <div ng-if="user">
            <div class="list-group">
                <div class="list-group-item">
                    <h4>{{player.playerName}}, playing {{play.gameName}}</h4> 
                </div>
                <div class="list-group-item">
                    <form ng-submit="updatePlayer()">
                        <div bs-panel>
                            <input bs-form-control type="text" ng-model="player.playerName" label="Name" label-class="col-xs-3 col-sm-2 col-lg-1" class="col-xs-9 col-sm-10 col-lg-11" placeholder="Player Name" maxlength=13/>
                        </div>
                        <p>&nbsp;</p>
                        <div bs-panel class="form-actions text-center">
                            <button class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </form>

                </div>
                <div class="list-group-item" ng-if="play.roundMode">
                    <table class="table table-condensed">
                        <tr>
                            <th>Round</th>
                            <th>Score (after joker)</th>
                            <th>Joker</th>
                        </tr>
                        <tr ng-repeat="round in rounds | orderBy:round">
                            <td>
                                {{round.round}}
                            </td>
                            <td>
                                <input type='number' ng-model='round.score' id='score' class="form-control" ng-change="rounds.$save(round)">
                            </td>
                            <td>
                                <switch id="jokerRound" ng-model="round.joker" ng-change="rounds.$save(round)"></switch>
                            </td>
                        </tr>
                    </table>
                    <div bs-panel class="form-actions text-center">
                        <div class="btn-group">
                            <input type="text" ng-model="player.numberOfRounds" class="form-control">
                            <a class="btn btn-default" disabled="disabled">Total: {{player.playerScore}}</a>    
                            <a ng-click="updatePlayerTotal()" class="btn btn-primary">Update Total</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div content-for="title">
            <span>Edit Player</span>
        </div>


        <div content-for="footerBar">
            <a ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle"><i class="fa fa-bars"></i></a>

                    <a class="btn btn-navbar pull-left" onClick="history.go(-1)"><i class="fa fa-chevron-left"></i></a>
                </div>


            </div>
        </div>
