<div class="scrollable" ng-controller="ScoreController3">
    <div class="scrollable-content section">
        <div ng-if="user">
            <div ng-hide="numberOfPlayers">
                <div class="panel panel-success">
                    <div class="panel-body text-center">
                        No Players!

                    </div>
                </div>
            </div>
            <!-- MAIN CONTENT -->
            <div class="container fluid">
                <div class="row">
                    <div>
                        <div class="text-center">
                            <h3><img src="{{play.logoURL}}" class="logo-width img-rounded">&nbsp;&nbsp;&nbsp;{{play.gameName}}&nbsp;&nbsp;&nbsp;<span class="btn btn-default" disabled="disabled">{{play.ISOtime | date:'fullDate'}}</span> </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div id="column1" class="col-xs-12 col-md-4"> -->
                    <div id="column1" ng-class="columnStyle1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-condensed table-hover">
                                    <tr ng-if="play.displayHeadings"><th class="rotate"><div><span>&nbsp;</span></div></th><th class="rotate"><div><span>&nbsp;</span></div></th><th class="rotate" ng-repeat="title in roundTitles"><div><span><small>{{title.title}}</small></span></div></th><th class="rotate"><div><span>&nbsp;</span></div></th></tr>
                                    <tr ng-repeat="player in players | orderBy:scoreBoardPredicate" class="phone-listing">
                                        <td>
                                            <h3 class="text-right">{{$index + 1}} - </h3>
                                        </td>
                                        <td>
                                            <h3><span class="text-capitalize"> {{player.playerName}}</span></h3>
                                        </td>
                                        <td ng-repeat="round in player.rounds">
                                            <h3><span><span ng-if="round.joker" class="label label-success label-lg score-width">{{round.score}}</span><span class="label label-lg score-width" ng-if="!round.joker" style="color:black;">{{round.score}}</span><span ng-if="$first">&nbsp;</span><span ng-if="$middle">&nbsp;</span></span></h3>
                                        </td>
                                        <td class="total-score">

                                            <h3>&nbsp;<span>{{player.playerScore}}</span></h3>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="column2" class="col-xs-12 col-md-4"> -->
                    <!-- <div id="column3" class="col-xs-12 col-md-4"> -->
                </div>
            </div>

        </div>
    </div>
</div>
